<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Advertisements</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <%- include('../partials/header') %>
  <div class="container">
    <h1>All Advertisements</h1>
    <div class="ad-container">
      <form action="/api/advertisement/search" method="GET" class="search-form">
        <input type="text" name="search" id="search" placeholder="Search advertisements..." />
        <button type="submit">Search</button>
      </form>
      <% allAdvertisement.forEach(function(ad) { %>
        <div class="ad">
          <h2> <%= ad.name %> <% if (ad.approved) { %><span class="approved">&#x2713;</span><% } %></h2>
          <p>detail: <%= ad.detail %></p>
          <a href="/api/advertisement/advertisementsById/<%= ad.id %>">
            <button type="submit">Choose</button>
          </a>
        </div>
      <% }); %>
    </div>
  </div>
  <%- include('../partials/footer') %>
</body>
</html>